<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
 

  <script src="//code.angularjs.org/snapshot/angular.min.js"></script>
 

 
</head>
<body >
  <div ng-app ng-init="person;score">
  <b><center>Tennis Score</center></b>
  <div>
    Person 1: <input type="text" min="0" ng-model="score">
              <input type="text" min="0" ng-model="score">
              <input type="text" min="0" ng-model="score">
  </div>
  <div>
    Person 2: <input type="text" min="0" ng-model="score">
              <input type="text" min="0" ng-model="score">
              <input type="text" min="0" ng-model="score">
  </div>
</div>
</body>
</html>
